
.ui_msg {
    left: 50%;
    text-align: center;
    margin-top: 10%;
    text-align: center;
	color:#000;
}
.ui_msg .ui_icon_area {
    margin-bottom: 2px;
}
.iconfont, em, i {
    font-style: normal;
}
.ui_msg .ui_icon_area img {
    width: 100px;
    height: 100px;
}
img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}
.ui_msg .ui_text_area .ui_msg_title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}










































































































































































































































































































